body{
    background-color: rgba(73, 163, 0, 0.185);
    font-family: "Poppins", sans-serif;
    margin: 0;
}
main{
    padding: 0px 16px 32px;
}
.title{
    font-size: 55px;
    color: #48A300;
    text-align: center;
}
.title span{
    color: #61481C;
}
.app-container{
    background-color: #FBFBFB;
    max-width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 5px 40px;
    box-shadow: 0 1px 0 0 rgb(0, 0, 0, 0.1);
}
.subtitle{
    font-size: 32px;
}
.sun-icon{
    vertical-align: middle;
    margin-left: 14px;
}
.porgrass-lable{
    font-size: 14px;
    color: #858585;
    margin-bottom: 20px;
}
.progress-bar{
    height: 30px;
    background-color: #49a3003b;
    border-radius: 
    15px;
    position: relative;
    margin-bottom: 40px;
}
.progress-value{
    height: 100%;
    /* width: 66%; */
    background-color: #48A300;
    border-radius: 
    15px;
    font-weight: 500;
    font-size: 10px;
    color: 
    #EEFFE0;
    display: flex;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: width 0.8s ease-in-out;
}
.progress-value span{
    padding-left: 20px;
    min-width: max-content;
}
.error-lable{
    font-weight: 400;
    font-size: 14px;
    color: #FF5151;
    margin-top: 4px;
    padding: 10px 0px;
    position: absolute;
    display: none;
}
.goal-container{
    background-color: #FFFFFF;
    height: 62px;
    border: 1px solid #0000001A;
    border-radius: 17px;
    display: flex;
    align-items: center;
    padding: 0px 22px;
    margin-bottom: 30px;
}
.custome-checkbox{
    width: 20px;
    height: 20px;
    border: 2px solid #61481C4D;
    background-color: #FFFFFF;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check-icon{
    display: none;
}
.goal-input{
    flex-grow: 1;
    padding:0px 15px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    /* height: 100%; */
    align-self: stretch;
    width: 100%;
}
.goal-input::placeholder{
    color: 
    #D9D9D9;
}
.quet{
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 34px;
}
.made-with{
    font-size: 13px;
    font-weight: 500px;
    text-align: center;
    color: #858585;
}

.completed .custome-checkbox{
    background-color: #48A300;
    border-color: #48A300;
}
.completed .check-icon{
    display: block;
}
.completed .goal-input{
    color: #48A300;
    text-decoration: line-through   ;
}
.show-error .error-lable{
    display: block;
}
@media (max-width: 768px){
    .title{
        font-size: 40px;
    }
    .app-container{
        padding: 16px 32px;
    }
    /* .goal-container{
        height: 62px;
    } */
}